body {
  margin: 0;
}

button img {
  width: 100%;
  height: auto;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.header {
  text-align: center;
  padding: 50px;
  font-size:xx-large;
  background-color: rgb(43, 55, 95);
  color: white;
}

.score {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  font-size: x-large;
  background-color: lightblue;
}